{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
    {% include "kpi_leagues.html" %}
    {% include "apiRate_stats.html"%}
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-white rounded-lg shadow p-6">
        <h2 class="text-xl font-semibold mb-4">Synchronisation des données</h2>
        <div class="space-y-4">
            {% include "sync_leagues.html" %}
            {% include "sync_matches.html" %}
            {% include "sync_predictions.html" %}
        </div>
    </div>

    <div class="bg-white rounded-lg shadow p-6">
        <h2 class="text-xl font-semibold mb-4">Performance des prédictions</h2>
        {% include "prediction_stats.html" %}
    </div>
</div>

<div class="mt-6 grid grid-cols-1 gap-6">
    <div class="bg-white rounded-lg shadow p-6">
        <h2 class="text-xl font-semibold mb-4">Prédictions du jour</h2>
        {% include "today_predictions.html" %}
    </div>
</div>
{% endblock %}

